*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contentGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3rem 40vh auto auto auto;
    grid-template-areas: 
        'navbar navbar navbar'
        'hero hero hero'
        'mepic about about'
        'skills1 skills2 skills3'
        'projects projects projects';
}

nav{
    grid-area: navbar;
    background-color: aqua;
    padding: 1rem;
}

.heroBanner{
    grid-area: hero;
    color: whitesmoke;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/art-city-city-lights.jpg');
    padding: 5%;
    font-size: 2rem;
}

.skills-section{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.about-section{
    grid-area: about;
    background-color: deeppink;
    padding: 1rem 2rem 1rem 3rem;
}

.mePic{
    background-color: gold;
    margin: 0;
}

.mePic img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

.promoSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: maroon;
}

.promoGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    grid-gap: 1rem;
    border: solid beige 2px;
    padding: 2rem;
}

.project{
    text-align: center;
    background-color: aquamarine;
}


ul{
    list-style: none;
    display: block;
}

.about-section li{
    border: inset black 2px;
    margin: 0.4rem;
    padding: 0.4rem;
    background-color: forestgreen;
    display: inline-block;
}

.about-section h3{
    padding-left: 3rem;
}