*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contentGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3rem 40vh auto auto auto;
    grid-template-areas: 
        'navbar navbar navbar'
        'hero hero hero'
        'mepic about about'
        'skills1 skills2 skills3'
        'projects projects projects';
}

nav{
    grid-area: navbar;
    background-color: aqua;
    padding: 1rem;
}

.heroBanner{
    grid-area: hero;
    color: whitesmoke;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/art-city-city-lights.jpg');
    /* Fixed = parallax effect, scroll = normal */
    background-attachment: fixed;
    padding: 5%;
    font-size: 2rem;
}

.skills-section {
    padding: 2rem;
}

.skills-section h3 {
    text-align: center;
}

.skills-section ul {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 0 auto;
    width: 20rem;
}

.skills-section li {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    margin: 0;
    padding: 1rem;
    list-style-type: none;
}


.mePic{
    margin: 0;
}

.mePic img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    max-width: 100%;
}

.promoSection{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/background-blur-bright.jpg');
    /* Fixed = parallax effect, scroll = normal */
    background-attachment: fixed;
}

.project{
    color: #ccc;
    text-align: center;
    background: rgb(240,181,51);
    background: radial-gradient(circle, rgba(233,208,6,0.26) 0%, rgba(0,0,0,0) 100%);
}


.about-section h3 {
    text-align: center;
}

.about-section ul {
    display: block;
    margin: 0 4rem;
    /* width: 20rem; */

}

.about-section li {
    border: 1px solid;
    padding: 10px;
    box-shadow: 10px 10px 5px lightgray;
    margin: 1rem;
    list-style-type: none;
}

.about-section h3{
    padding-left: 3rem;
}

footer {
    text-align: center;
}

@media only screen and (min-width: 600px) {
    body {
        width: 100%;
    }
    .promoSection {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
  
    .skills-section{
        margin: 0;
        padding: 0;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .skills-section ul{
        width: 100%;
    }
}