*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
}

nav{
    background-color: #17172e;
    padding: 1rem;
}

nav a{
    padding: 1rem;
    background-color: #17172e;
}

nav a:hover{
    background-color: #59596d1e;
}


a{
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    color: #f5bd22;
}

.heroBanner{
    grid-area: hero;
    color: whitesmoke;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/art-city-city-lights.jpg');
    /* Fixed = parallax effect, scroll = normal */
    background-attachment: fixed;
    padding: 5%;
    font-size: 2rem;
}

.skills-section {
    padding: 2rem;
    background: rgb(172,80,13);
    background: linear-gradient(344deg, rgba(172,80,13,0.958420868347339) 0%, rgba(195,193,57,0.9192051820728291) 57%, rgba(224,100,51,0.9500175070028011) 97%);
}

.skills-section h3 {
    text-align: center;
}

.skills-section ul {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 0 auto;
    width: 20rem;
}

.skills-section li {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    margin: 0;
    padding: 1rem;
    list-style-type: none;
}


.mePic{
    margin: 0;
}

.mePic img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    max-width: 100%;
}

.promoSection{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/background-blur-bright.jpg');
    /* Fixed = parallax effect, scroll = normal */
    background-attachment: fixed;
}

.project{
    color: whitesmoke;
    text-align: center;
    background: rgb(240,181,51);
    background: radial-gradient(circle, rgba(233,208,6,0.26) 10%, rgba(0,0,0,0) 100%);
    padding: 3rem;
    font-size: 1.8rem;

}

.project img{
    max-width: 100%;
    height: auto;
}

.about-section{
    background: rgb(172,80,13);
    background: linear-gradient(144deg, rgba(172,80,13,0.958420868347339) 0%, rgba(195,193,57,0.9192051820728291) 57%, rgba(59,73,156,0.9500175070028011) 97%);
    padding: 1rem;
}

.about-section h3 {
    text-align: center;
    padding-left: 3rem;
    color: whitesmoke;
}

.about-section ul {
    display: block;
    margin: 0 4rem;
    /* width: 20rem; */
}

.about-section li {
    border: 1px solid;
    padding: 10px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
    margin: 1rem;
    list-style-type: none;
    background: #eee;
}

footer {
    color: whitesmoke;
    text-align: center;
    background-color: #17172e;
    padding: 2rem 2rem 4rem 2rem;
}

@media only screen and (min-width: 600px) {
    body {
        width: 100%;
    }
    .promoSection {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
  
    .skills-section{
        margin: 0;
        padding: 2rem;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .skills-section ul{
        width: 100%;
    }
}